Repository akshayfanatic/dubaipropertyIQ: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mdx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css,html,yml,yaml,scss}": ["prettier --write"]
}

test
  app/testt.ts
Due: prettier --write, eslint --fix

Revert "test"
  app/testt.ts
Due: prettier --write, eslint --fix

fix(properties): fix properties loading issue
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/loading.tsx
Due: prettier --write, eslint --fix

Revert "fix(properties): fix properties loading issue"
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/loading.tsx
Due: prettier --write, eslint --fix

fix(loading skelton):fix loading skelton related issue in properties layout page
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/loading.tsx
  components/ui/table-skeleton.tsx
Due: prettier --write, eslint --fix

fix(loading properties): reapply same loading skelton in layout which was previous
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/loading.tsx
Due: prettier --write, eslint --fix

feat(supabase): upgraded supabase package to latest version
  package-lock.json
  package.json
Due: prettier --write

fix(migrations): fix db migrations issue and pull latest migration from db
  supabase/migrations/001_user_roles.sql
  supabase/migrations/20260324090758_001_properties.sql
Due: none

feat(sooner): implement toast feature in admin dashboard
  app/(dashboard)/dashboard/(admin)/layout.tsx
  components/ui/sonner.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(migrations):create new table in db categories
  supabase/migrations/20260326100306_001_categories.sql
Due: none

refactor(db table properties): change property_status data type to enum and created new enum property_status_enum
  supabase/migrations/20260326100307_002_property_status_enum.sql
Due: none

feat(admin properties form): implement feature for creating form for creation edit , create properties by admin
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/new/page.tsx
  components/dashboard/admin/properties/PropertyForm.tsx
  components/dashboard/admin/properties/filter/columns.tsx
  lib/validations/property.ts
  types/property.ts
Due: prettier --write, eslint --fix

feat(admin categories crud): created crud methods for handling category data
  lib/db/categories/actions.ts
  lib/db/categories/queries.ts
Due: prettier --write, eslint --fix

fix(types): fix issue regarding types in property and categories
  lib/db/properties/queries.ts
  types/property.ts
Due: prettier --write, eslint --fix

Revert "fix(types): fix issue regarding types in property and categories"
  lib/db/properties/queries.ts
  types/property.ts
Due: prettier --write, eslint --fix

fix(types):fix issue regarding types and data shape -- change modification in property types
  components/dashboard/admin/properties/filter/PropertiesList.tsx
  components/dashboard/admin/properties/filter/columns.tsx
  lib/db/properties/queries.ts
  types/property.ts
Due: prettier --write, eslint --fix

fix(property form): fix issue regarding form -- the issue is all about shape of category
  app/(auth)/auth/actions.ts
  components/dashboard/admin/properties/PropertyForm.tsx
Due: prettier --write, eslint --fix

fix(error handling): fix issue regarding error handling and created a nested level error fallback
  app/(dashboard)/dashboard/(admin)/admin/properties/(list)/error.tsx
  components/dashboard/admin/properties/filter/PropertiesList.tsx
  components/dashboard/admin/properties/filter/columns.tsx
  lib/db/properties/queries.ts
  proxy.ts
Due: prettier --write, eslint --fix

fix(properties): change key in queries and columns
  components/dashboard/admin/properties/filter/columns.tsx
  lib/db/properties/queries.ts
Due: prettier --write, eslint --fix

feat(properties): add photo upload feature to PropertyForm
  components/dashboard/admin/properties/PropertyForm.tsx
  components/ui/image-uploader.tsx
  lib/storage/actions.ts
  lib/validations/storage.ts
  supabase/config.toml
  types/storage.ts
Due: prettier --write, eslint --fix

fix(server action): increase server action body size
  next.config.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactort(types): reoraganize ts file of category for implement it separate
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/new/page.tsx
  components/dashboard/admin/properties/PropertyForm.tsx
  components/dashboard/admin/properties/filter/columns.tsx
  lib/db/categories/actions.ts
  lib/db/categories/queries.ts
  types/category.ts
  types/property.ts
Due: prettier --write, eslint --fix

feat(categories): add category types and validation schemas
  lib/validations/category.ts
  lib/validations/property.ts
  types/category.ts
Due: prettier --write, eslint --fix

feat(categories): implement category CRUD with uncategorized protection
  lib/db/categories/actions.ts
  lib/db/categories/queries.ts
Due: prettier --write, eslint --fix

feat(utils): add FORBIDDEN (403) to HttpStatus
  lib/utils/response.ts
Due: prettier --write, eslint --fix

feat(ui): add category admin components
  components/dashboard/admin/categories/CategoriesList.tsx
  components/dashboard/admin/categories/CategoryForm.tsx
  components/dashboard/admin/categories/columns.tsx
Due: prettier --write, eslint --fix

feat(db): add uncategorized category migration
  supabase/migrations/20260330111627_uncategorized_category.sql
  supabase/migrations/20260330112758_remote_schema.sql
Due: none

feat(pages): add category admin pages and update property pages
  app/(dashboard)/dashboard/(admin)/admin/categories/(list)/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/(list)/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/new/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/new/page.tsx
Due: prettier --write, eslint --fix

refactor(categories): use swr for displaying category options client side -- instead of server side to avoid prop drilling too much in component
  app/api/admin/categories/options/route.ts
  components/dashboard/admin/properties/filter/FilterBar.tsx
  lib/db/categories/queries.ts
  lib/utils.ts
  package-lock.json
  package.json
  types/category.ts
Due: prettier --write, eslint --fix

feat(category): enable feature publicly available
  config/routes.ts
Due: prettier --write, eslint --fix

feat(loading): implement suspense boundary on page level and created a reusable skelton
  app/(dashboard)/dashboard/(admin)/admin/categories/(list)/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/[id]/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/loading.tsx
  components/shared/form-skelton.tsx
Due: prettier --write, eslint --fix

refactor(types): reorganzied types based on their responsiblity
  types/category.ts
  types/shared.ts
Due: prettier --write, eslint --fix

refactor(types): reorganzied types based on their responsiblity
  types/property.ts
Due: prettier --write, eslint --fix

feat(categories): implement categories search filter -- created a layout for searching cateogry client component -- created a suspense boundary on page level /list and /[id]/
  app/(dashboard)/dashboard/(admin)/admin/categories/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/(list)/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/categories/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/new/page.tsx
  components/dashboard/admin/categories/CategoriesList.tsx
  components/dashboard/admin/categories/CategoriesSearchFilter.tsx
  components/dashboard/admin/categories/columns.tsx
  lib/db/categories/queries.ts
  lib/utils.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(migration): create new table table developers
  supabase/migrations/20260331114913_remote_schema.sql
  supabase/migrations/20260331180000_001_developers.sql
Due: none

feat(types): created developer contracts
  types/developer.ts
  types/index.ts
Due: prettier --write, eslint --fix

refactor(image gallery): image gallery instead of object to contain
  components/ui/image-uploader.tsx
Due: prettier --write, eslint --fix

feat(developers CRUD): implement full crud implementation for developers -- implement filter functionaly for developer -- implement routes in sidebar for displaying developer navigation route
  app/(dashboard)/dashboard/(admin)/admin/developers/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/developers/(list)/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/developers/(list)/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/developers/[id]/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/developers/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/developers/new/page.tsx
  components/dashboard/admin/developers/DeveloperForm.tsx
  components/dashboard/admin/developers/DevelopersList.tsx
  components/dashboard/admin/developers/DevelopersSearchFilter.tsx
  components/dashboard/admin/developers/columns.tsx
  config/routes.ts
  lib/db/developers/actions.ts
  lib/db/developers/queries.ts
  lib/utils.ts
  lib/validations/developer.ts
Due: prettier --write, eslint --fix
