Repository akshayfanatic/dubaipropertyIQ: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mdx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css,html,yml,yaml,scss}": ["prettier --write"]
}

chore(release): 0.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(NotFound): Added Not Found Page Component
  app/not-found.tsx
  components/ui/not-found.tsx
Due: prettier --write, eslint --fix

feat(Error Feature): Integrate Error Handling Feature For Better UI
  app/error.tsx
  components/ui/error.tsx
Due: prettier --write, eslint --fix

chore(release): 0.1.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(Footer): Implementing Footer of the App
  app/layout.tsx
  components/layout/Footer.tsx
Due: prettier --write, eslint --fix

chore(release): 0.1.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(refactor): Refactor Configuration Of MCP JSON
  .mcp.json
Due: prettier --write

chore(release): 0.1.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(Dialog Issus): Fix Issue Regarding WCAG and add SheetTitle and Visually Hide This
  components/layout/Header.tsx
Due: prettier --write, eslint --fix

fix(responsive mobile header): Fix Issue In Navgation Menu Mobile
  components/layout/Header.tsx
Due: prettier --write, eslint --fix

chore(release): 0.1.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(homepage banner) :Created a Home Page Banner Section With Search Form
  app/page.tsx
  components/form/SearchForm.tsx
  components/home/HeroBanner.tsx
  components/ui/button.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/select-field.tsx
  components/ui/select.tsx
  package-lock.json
  package.json
  public/assets/images/hero-bg.jpg
Due: prettier --write, eslint --fix

chore(release): 0.1.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Empty-Commit
  CHANGELOG.md
  package.json
Due: prettier --write

ci: Add Templates to git ignore
  .gitignore
Due: none

fix: Remove Mcp context7 from mcp
  .mcp.json
  .serena/.gitignore
  .serena/project.yml
Due: prettier --write

feat(reorganize layout,auth): reorganize public layout for auth and implenet diffrent layout for auth
  app/(auth)/auth/login/page.tsx
  app/(auth)/layout.tsx
  app/(frontend)/error.tsx
  app/(frontend)/globals.css
  app/(frontend)/layout.tsx
  app/(frontend)/not-found.tsx
  app/(frontend)/page.tsx
Due: prettier --write, eslint --fix

feat(auth): add middleware and auth utilities
  lib/auth/guards.ts
  lib/auth/types.ts
  lib/supabase/client.ts
  middleware.ts
Due: prettier --write, eslint --fix

fix(auth): replace middleware.ts with proxy.ts for Next.js 16
  lib/supabase/proxy.ts
  proxy.ts
Due: prettier --write, eslint --fix

feat(auth): add callback, forgot-password, and reset-password pages
  app/(auth)/auth/callback/route.ts
  app/(auth)/auth/forgot-password/page.tsx
  app/(auth)/auth/reset-password/page.tsx
Due: prettier --write, eslint --fix

feat(dashboard): add protected dashboard with profile page
  app/(dashboard)/layout.tsx
  app/(dashboard)/page.tsx
  app/(dashboard)/profile/page.tsx
  components/dashboard/DashboardNav.tsx
Due: prettier --write, eslint --fix

fix(auth): remove unused variable in proxy
  lib/supabase/proxy.ts
Due: prettier --write, eslint --fix

feat(auth): add email confirmation and user API routes
  app/(auth)/auth/actions.ts
  app/(auth)/auth/confirm/route.ts
  app/api/user/route.ts
Due: prettier --write, eslint --fix

feat: Integrate Authentication Flow
  .gitignore
  app/(auth)/auth/signup/page.tsx
  app/(auth)/layout.tsx
  app/(dashboard)/dashboard/globals.css
  app/(dashboard)/dashboard/layout.tsx
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/dashboard/profile/page.tsx
  app/(frontend)/page.tsx
  components/auth/AuthBrandingPanel.tsx
  components/auth/LoginForm.tsx
  components/auth/PasswordInput.tsx
  components/auth/PasswordStrengthMeter.tsx
  components/auth/SignupForm.tsx
  components/auth/SocialLoginButtons.tsx
  components/ui/SiteLogo.tsx
  lib/supabase/server.ts
  package-lock.json
  package.json
  skills-lock.json
Due: prettier --write, eslint --fix

feat(auth): add user roles RBAC with admin, agent, customer
  lib/auth/roles.ts
  supabase/migrations/001_user_roles.sql
Due: prettier --write, eslint --fix

fix(auth): get role from JWT custom claims
  lib/auth/roles.ts
  lib/auth/use-role.ts
Due: prettier --write, eslint --fix

fix(RBAC) : Fix Role Based Access Controll Issue and Getting User Role
  package-lock.json
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20260317094023_custom_claims_hook.sql
Due: prettier --write

feat: Reorganize Folder Structure -- Created Diffrent Layout Structure of Dedicated Auth Role -- ROLE - agent /dashboard/agent -- ROLE - admin /dashboard/admin -- ROLE - customer /customer
  app/(auth)/auth/reset-password/ResetPasswordClient.tsx
  app/(auth)/auth/reset-password/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/globals.css
  app/(dashboard)/dashboard/(admin)/admin/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/profile/page.tsx
  app/(dashboard)/dashboard/(admin)/layout.tsx
  app/(dashboard)/dashboard/(agent)/agent/page.tsx
  app/(dashboard)/dashboard/(agent)/layout.tsx
  app/(frontend)/(customer)/customer/layout.tsx
  app/(frontend)/(customer)/customer/page.tsx
  config/index.ts
  config/routes.ts
Due: prettier --write, eslint --fix

feat: Prevent Routes From Unauthorized Access
  app/(dashboard)/dashboard/(admin)/layout.tsx
  app/(dashboard)/dashboard/(agent)/layout.tsx
  app/(frontend)/(customer)/customer/layout.tsx
Due: prettier --write, eslint --fix

refactor(auth): extract client component and add Suspense to forgot-password page
  app/(auth)/auth/forgot-password/ForgotPasswordClient.tsx
  app/(auth)/auth/forgot-password/page.tsx
Due: prettier --write, eslint --fix

feat(create middleware checks): Created Middlware Checks and Preventing user to unauthorized access
  app/(frontend)/(customer)/customer/page.tsx
  lib/auth/guards.ts
  lib/supabase/proxy.ts
  proxy.ts
Due: prettier --write, eslint --fix

feat(auth callbacks): Created Auth Callbacks and error
  app/(auth)/auth/callback/route.ts
  app/(auth)/auth/confirm/route.ts
  app/(auth)/auth/error/page.tsx
  components/auth/AuthErrorCard.tsx
Due: prettier --write, eslint --fix

feat(admin dashboard): Setup admin dashboard using shadcn ui
  app/(dashboard)/dashboard/(admin)/layout.tsx
  components/dashboard/admin/admin-breadcrumb.tsx
  components/dashboard/admin/admin-header.tsx
  components/dashboard/admin/admin-sidebar.tsx
  components/ui/avatar.tsx
  components/ui/breadcrumb.tsx
  components/ui/dropdown-menu.tsx
  components/ui/separator.tsx
  components/ui/sidebar.tsx
  components/ui/skeleton.tsx
  components/ui/tooltip.tsx
  hooks/use-mobile.ts
  lib/admin-navigation.ts
Due: prettier --write, eslint --fix

feat(admin property , notfound): Created Properties page and admin notfound page
  app/(dashboard)/dashboard/(admin)/admin/properties/page.tsx
  app/(dashboard)/dashboard/(admin)/not-found.tsx
  next.config.ts
Due: prettier --write, eslint --fix

refactor(refactor admin header): created profile drowpdown component ensure follow srp
  components/dashboard/admin/admin-header.tsx
  components/dashboard/admin/profile-dropdown.tsx
Due: prettier --write, eslint --fix

fix(component structure admin header):Fixing Component Structure of Admin Header Passing Profile Component Implicity
  app/(dashboard)/dashboard/(admin)/layout.tsx
  components/dashboard/admin/admin-header.tsx
  components/dashboard/admin/profile-dropdown.tsx
  types/user.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Delete .claude/settings.json
  .claude/settings.json
Due: prettier --write

fix(temporary session): created temporary session for changin password
  app/(auth)/auth/actions.ts
  app/(auth)/auth/reset-password/ResetPasswordClient.tsx
Due: prettier --write, eslint --fix
