Repository akshayfanatic/dubaipropertyIQ: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(developer): implement developer relation with properties
  app/(dashboard)/dashboard/(admin)/admin/properties/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/properties/new/page.tsx
  components/dashboard/admin/properties/PropertyForm.tsx
  components/ui/select-field.tsx
  lib/db/developers/queries.ts
  lib/validations/property.ts
  types/developer.ts
  types/property.ts
Due: prettier --write, eslint --fix

fix(dynamic slug): fix issue regarding slug -- created a helper function for generating slug
  components/dashboard/admin/categories/CategoryForm.tsx
  components/dashboard/admin/developers/DeveloperForm.tsx
  lib/utils.ts
Due: prettier --write, eslint --fix

feat(storage): add utility to extract path from Supabase URLs
  lib/storage/utils.ts
Due: prettier --write, eslint --fix

feat(image-uploader): delete from Supabase when removing images
  components/ui/image-uploader.tsx
Due: prettier --write, eslint --fix

fix(forms): sync ImageUploader changes with React Hook Form state
  components/dashboard/admin/developers/DeveloperForm.tsx
  components/dashboard/admin/properties/PropertyForm.tsx
Due: prettier --write, eslint --fix

feat(images): add SEO-friendly image object type and helper functions
  lib/utils.ts
  types/images.ts
Due: prettier --write, eslint --fix

feat(db): migrate image storage to JSONB with alt tags
  supabase/migrations/20260401_seo_images_refactor.sql
Due: none

refactor(types): update image types to use ImageObject with alt tags
  types/developer.ts
  types/property.ts
  types/storage.ts
Due: prettier --write, eslint --fix

refactor(validations): update schemas for ImageObject with alt tags
  lib/validations/developer.ts
  lib/validations/property.ts
Due: prettier --write, eslint --fix

feat(storage): extract alt tag from filename during upload
  lib/storage/actions.ts
Due: prettier --write, eslint --fix

refactor(image-uploader): handle ImageObject with alt_tag
  components/ui/image-uploader.tsx
Due: prettier --write, eslint --fix

refactor(property-form): use ImageObject for photos
  components/dashboard/admin/properties/PropertyForm.tsx
Due: prettier --write, eslint --fix

refactor(developer-form): use ImageObject for logo
  components/dashboard/admin/developers/DeveloperForm.tsx
  lib/db/developers/actions.ts
Due: prettier --write, eslint --fix

fix(devices-columns): use alt_tag from ImageObject for logo alt text
  components/dashboard/admin/developers/columns.tsx
Due: prettier --write, eslint --fix

fix(migration): change photo_object from JSON to JSONB
  supabase/migrations/20260401_seo_images_refactor.sql
Due: none

Revert "fix(properties): fix properties loading issue"
  supabase/migrations/20260401_seo_images_refactor.sql
Due: none

fix(migration): add name column to developers SELECT statement
  supabase/migrations/20260401_seo_images_refactor.sql
Due: none

feat(categories): add logo_url with ImageObject type for SEO
  components/dashboard/admin/categories/CategoryForm.tsx
  components/ui/select-field.tsx
  lib/db/categories/actions.ts
  lib/db/categories/queries.ts
  lib/validations/category.ts
  supabase/migrations/20260402_category_logo.sql
  types/category.ts
Due: prettier --write, eslint --fix

refactor(svg extension): allowed svg file extension for upload
  components/dashboard/admin/categories/CategoryForm.tsx
  components/ui/image-uploader.tsx
  lib/validations/storage.ts
Due: prettier --write, eslint --fix

feat(fallback image): implement image in row list there in there -- allow remote patterns
  components/dashboard/admin/categories/columns.tsx
  components/dashboard/admin/developers/columns.tsx
  components/ui/image-with-fallback.tsx
  components/ui/select-field.tsx
  next.config.ts
Due: prettier --write, eslint --fix

feat(migrations): add new table cities in db -- modify policy from the storage regarding categories
  supabase/migrations/20260402_category_logo.sql
  supabase/migrations/20260403_001_cities.sql
Due: none

feat(city): added city to navigation routes
  config/routes.ts
Due: prettier --write, eslint --fix

refactor( imageObjectSchema ): implement object schema separated reuse it in validations
  lib/validations/category.ts
  lib/validations/city.ts
  lib/validations/developer.ts
  lib/validations/property.ts
  lib/validations/shared.ts
Due: prettier --write, eslint --fix

feat(CRUD): implement crud for cities
  components/dashboard/admin/cities/CityForm.tsx
  lib/db/cities/actions.ts
  lib/db/cities/queries.ts
Due: prettier --write, eslint --fix

feat(city types): added city types
  types/city.ts
  types/index.ts
Due: prettier --write, eslint --fix

feat( filter page): added filter page with search functionality
  app/(dashboard)/dashboard/(admin)/admin/cities/(list)/layout.tsx
  app/(dashboard)/dashboard/(admin)/admin/cities/(list)/page.tsx
  components/dashboard/admin/cities/CitiesList.tsx
  components/dashboard/admin/cities/CitiesSearchFilter.tsx
  components/dashboard/admin/cities/columns.tsx
Due: prettier --write, eslint --fix

feat( city form ): added city form functionality
  app/(dashboard)/dashboard/(admin)/admin/cities/[id]/loading.tsx
  app/(dashboard)/dashboard/(admin)/admin/cities/[id]/page.tsx
  app/(dashboard)/dashboard/(admin)/admin/cities/new/page.tsx
Due: prettier --write, eslint --fix

feat(ci): add develop branch CI workflow with lint, typecheck, and build
  .github/workflows/develop-ci.yml
Due: prettier --write

Add Supabase environment variables to CI workflow
  .github/workflows/develop-ci.yml
Due: prettier --write

Fix formatting in develop-ci.yml
  .github/workflows/develop-ci.yml
Due: prettier --write

fix(linting): fix linting issue
  .github/workflows/develop-ci.yml
  app/(auth)/auth/reset-password/ResetPasswordClient.tsx
  app/(dashboard)/dashboard/(admin)/not-found.tsx
  components/auth/forms/LoginForm.tsx
  components/auth/forms/SignupForm.tsx
  components/auth/ui/PasswordStrengthMeter.tsx
  components/dashboard/admin/admin-sidebar.tsx
  components/dashboard/admin/categories/CategoryForm.tsx
  components/dashboard/admin/cities/CityForm.tsx
  components/dashboard/admin/developers/DeveloperForm.tsx
  components/dashboard/admin/properties/PropertyForm.tsx
  components/dashboard/admin/properties/filter/columns.tsx
  components/modals/auth/admin-nav.tsx
  components/ui/data-table.tsx
  lib/validations/property.ts
Due: prettier --write, eslint --fix

docs: add areas schema design spec
  docs/superpowers/specs/2026-04-03-areas-schema-design.md
Due: prettier --write

feat(migration): created new table in db areas and amenity
  supabase/migrations/20260403_002_areas_amenities.sql
Due: none

feat(types): Createad new Types for amenity and areas -- refactor types and shared and created resuable types and use it in diffrent types file
  types/amenities.ts
  types/areas.ts
  types/category.ts
  types/shared.ts
Due: prettier --write, eslint --fix

feat(admin crud methods): created crud methods for handling crud data regarding AMENITIES,AREAS
  lib/db/amenities/actions.ts
  lib/db/amenities/queries.ts
  lib/db/areas/actions.ts
  lib/db/areas/queries.ts
Due: prettier --write, eslint --fix

feat(schema validation): created schema validation for AMENITY,AREAS
  lib/validations/amenity.ts
  lib/validations/area.ts
Due: prettier --write, eslint --fix

refactor(cities): change shape of city option data
  lib/db/cities/queries.ts
  types/city.ts
Due: prettier --write, eslint --fix

feat(routes navigation): added navigation routes for accessing areas and amenities
  components/dashboard/admin/admin-sidebar.tsx
  config/routes.ts
Due: prettier --write, eslint --fix

doc(specs): created schema design for areas and amenities
  docs/superpowers/specs/2026-04-03-areas-schema-design.md
Due: prettier --write

refactor(folder structure): reorganize folder structure
  components/shared/pagination.tsx
  components/shared/select-field.tsx
  components/ui/select-field.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,mdx}) or (any of: *.{json,md,css,html,yml,yaml,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx,mdx}
